<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CodeEventsDomain.Classes.Properties.Settings.CodeEventsDomain_DataModel_CodingEventContextConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=CodeEventsDomain.DataModel.CodingEventContext;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>